<%- include('partials/header') %>

<main class="main blog">
    
    <h1>Blog</h1>

    <div class="articles-container">
        
        <% if (locals.articles) { %>
            <% for(const article of articles) { %>
                <div class="card">
                    <div class="card__img-box" style="background-image: url('<%= article.image %>');"></div>
                    <div class="card__content">
                        <h3 class="card__content__title"><%= article.title %></h3>
                        <h4 class="card__content__subtitle"><%= article.subtitle %></h4>
                        <div class="card__content__btn-box">
                            <div class="card__content__btn-box__button">
                                <a class="card__content__btn-box__button__link" href="/blog/<%= article.id %>">
                                    Read
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>  
        <% } %>

    </div>

</main>

<%- include('partials/footer') %>