<%- include('partials/header') %>

<main class="main contact">
    <div class="contact-form">
        <h2>Me contacter</h2>

        <% if (locals.message) { %>
            <p class="submit-message"><%= message %></p>
        <% } %>

        <% if (!locals.done) { %>
            <form action="/contact" method="POST" class="form-box">
                <div class="input-box w50">
                    <% if (locals.body) { %>
                        <input type="text" name="first_name" id="first_name" required value="<%= body.first_name %>">
                    <% } else { %>
                        <input type="text" name="first_name" id="first_name" required>
                    <% } %>
                        <% if (locals.errors) { %>
                            <small><%= errors.first_name %></small>
                        <% } %>

                    <label for="first_name">Prénom</label>
                </div>

                <div class="input-box w50">
                    <% if (locals.body) { %>
                        <input type="text" name="last_name" id="last_name" required value="<%= body.last_name %>">
                    <% } else { %>
                        <input type="text" name="last_name" id="last_name" required>
                    <% } %>
                        <% if (locals.errors) { %>
                            <small><%= errors.last_name %></small>
                        <% } %>
                    <label for="last_name">Nom</label>
                </div>

                <div class="input-box w50">
                    <% if (locals.body) { %>
                        <input type="email" name="email" id="email" required value="<%= body.email %>">
                    <% } else { %>
                        <input type="email" name="email" id="email" required>
                    <% } %>
                        <% if (locals.errors) { %>
                            <small><%= errors.email %></small>
                        <% } %>
                    <label for="email">Email</label>
                </div>

                <div class="input-box w50">
                    <% if (locals.body) { %>
                        <input type="tel" name="phone" id="phone" required value="<%= body.phone %>">
                    <% } else { %>
                        <input type="tel" name="phone" id="phone" required>
                    <% } %> 
                    <% if (locals.errors) { %>
                        <small><%= errors.phone %></small>
                    <% } %>
                    <label for="phone">Téléphone</label>
                </div>

                <div class="input-box w100">
                    <% if (locals.body) { %>
                        <textarea name="message" id="message" required><%= body.message %></textarea>
                    <% } else { %>
                        <textarea name="message" id="message" required></textarea>
                    <% } %> 
                        <label for="message">Votre message...</label>
                </div>

                <div class="input-box w100">
                    <input type="submit" value="Envoyer">
                </div>
            </form>
        <% } %>
    </div>
</main>

<%- include('partials/footer') %>