<%- include('partials/header') %>

<main class="main contact">
    <div class="contact-form">
        <h2 class="contact-form__title">Me contacter</h2>

        <% if (locals.message) { %>
            <p class="contact-form__submit-message"><%= message %></p>
        <% } %>

        <% if (!locals.done) { %>
            <form class="contact-form__form" action="/contact" method="POST">
                <div class="contact-form__form__input-box w50">
                    <% if (locals.body) { %>
                        <input class="contact-form__form__input-box__input" type="text" name="first_name" id="first_name" required value="<%= body.first_name %>">
                    <% } else { %>
                        <input class="contact-form__form__input-box__input" type="text" name="first_name" id="first_name" required>
                    <% } %>
                        <% if (locals.errors) { %>
                            <small class="contact-form__form__input-box__small"><%= errors.first_name %></small>
                        <% } %>
                    <label class="contact-form__form__input-box__label" for="first_name">Prénom</label>
                </div>

                <div class="contact-form__form__input-box w50">
                    <% if (locals.body) { %>
                        <input class="contact-form__form__input-box__input" type="text" name="last_name" id="last_name" required value="<%= body.last_name %>">
                    <% } else { %>
                        <input class="contact-form__form__input-box__input" type="text" name="last_name" id="last_name" required>
                    <% } %>
                        <% if (locals.errors) { %>
                            <small class="contact-form__form__input-box__small"><%= errors.last_name %></small>
                        <% } %>
                    <label class="contact-form__form__input-box__label" for="last_name">Nom</label>
                </div>

                <div class="contact-form__form__input-box w50">
                    <% if (locals.body) { %>
                        <input class="contact-form__form__input-box__input" type="email" name="email" id="email" required value="<%= body.email %>">
                    <% } else { %>
                        <input class="contact-form__form__input-box__input" type="email" name="email" id="email" required>
                    <% } %>
                        <% if (locals.errors) { %>
                            <small class="contact-form__form__input-box__small"><%= errors.email %></small>
                        <% } %>
                    <label class="contact-form__form__input-box__label" for="email">Email</label>
                </div>

                <div class="contact-form__form__input-box w50">
                    <% if (locals.body) { %>
                        <input class="contact-form__form__input-box__input" type="tel" name="phone" id="phone" required value="<%= body.phone %>">
                    <% } else { %>
                        <input class="contact-form__form__input-box__input" type="tel" name="phone" id="phone" required>
                    <% } %> 
                    <% if (locals.errors) { %>
                        <small class="contact-form__form__input-box__small"><%= errors.phone %></small>
                    <% } %>
                    <label class="contact-form__form__input-box__label" for="phone">Téléphone</label>
                </div>

                <div class="contact-form__form__input-box w100">
                    <% if (locals.body) { %>
                        <textarea class="contact-form__form__input-box__textarea" name="message" id="message" required><%= body.message %></textarea>
                    <% } else { %>
                        <textarea class="contact-form__form__input-box__textarea" name="message" id="message" required></textarea>
                    <% } %> 
                        <label class="contact-form__form__input-box__label" for="message">Votre message...</label>
                </div>

                <div class="contact-form__form__input-box w100">
                    <input class="contact-form__form__input-box__input" type="submit" value="Envoyer">
                </div>
            </form>
        <% } %>
    </div>
</main>

<%- include('partials/footer') %>