<%- include('partials/header') %>

<main class="main projects">
    <h1>Projets</h1>

    <div class="projects-container">
        
        <% if (locals.projects) { %>
            <% for(const project of projects) { %>
                <div class="project">
                    <div class="project__img-box" style="background-image: url('<%= project.image %>');"></div>
                    <div class="project__content">
                        <h3 class="project__content__title"><%= project.title %></h3>

                        <% if (project.basic_content !== null && project.basic_content !== '' || project.tech_content !== null && project.tech_content !== '') { %>
                            <div class="project__content__project-versions">
                                <h4 class="project__content__project-versions__title">Commentaires</h4>

                            
                                <% if (project.basic_content !== null && project.basic_content !== '') { %>
                                    <a class="project__content__project-versions__link" href="/projects/generic/<%= project.id %>">Génériques</a>
                                <% } %> 
    
                                <% if (project.tech_content !== null && project.tech_content !== '') { %>
                                    <a class="project__content__project-versions__link" href="/projects/tech/<%= project.id %>">Techniques</a>
                                <% } %>
                            </div>
                        <% } %>

                        <div class="project__content__btn-box">
                            <% if (project.see_link !== null && project.see_link !== '') { %>
                                <div class="project__content__btn-box__button">
                                    <a class="project__content__btn-box__button__link" href="<%= project.see_link %>" target="_blank"
                                        rel="noopener noreferrer">
                                        <img class="project__content__btn-box__button__link__img" src="/img/icons/earth-globe.svg" alt="">
                                    </a>
                                </div>
                            <% } %>
                            <% if (project.github_link !== null && project.github_link !== '') { %>
                                <div class="project__content__btn-box__button">
                                    <a class="project__content__btn-box__button__link" href="<%= project.github_link %>" target="_blank"
                                        rel="noopener noreferrer">
                                        <img class="project__content__btn-box__button__link__img" src="/img/icons/github-light.svg" alt="">
                                    </a>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>  
        <% } %>

    </div>
</main>

<%- include('partials/footer') %>