<%- include('partials/header') %> 

<main class="main message">

    <div class="message-box">
        <div class="message-box__infos">
            <p class="message-box__infos__p"><%= message.first_name %> <%= message.last_name %></p>
            <p class="message-box__infos__p"><%= dayjs(message.createdAt).format('Do MMMM YYYY [à] HH:mm') %></p>
        </div>
        <div class="message-box__contact">
            <p class="message-box__contact__p">
                <img class="message-box__contact__p__icon" src="/img/icons/arroba.svg" alt=""> <%= message.from %>
            </p>
            <p class="message-box__contact__p">
                <img class="message-box__contact__p__icon" src="/img/icons/telephone.svg" alt=""> <%= message.phone %>
            </p>
        </div>
        <div class="message-box__content">
            <p class="message-box__content__p"><%= message.content %></p>
        </div>
        <div class="message-box__links-box">
            <% if (message.seen === false) { %>
                <a class="message-box__links-box__link" href="/admin/messages/<%= message.id %>/seen">
                    <img class="message-box__links-box__link__icon" src="/img/icons/closed-env.svg" alt="">
                </a>
            <% } else { %>
                <a class="message-box__links-box__link" href="/admin/messages/<%= message.id %>/notseen">
                    <img class="message-box__links-box__link__icon" src="/img/icons/open-env.svg" alt="">
                </a>
            <% } %>
            <a class="message-box__links-box__link" href="/admin/messages/<%= message.id %>/delete">
                <img class="message-box__links-box__link__icon" src="/img/icons/delete.svg" alt="">
            </a>
        </div>
    </div>

    

</main>

<%- include('partials/footer') %> 